<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domeSpeakerLevelVisibility</key>
	<true/>
	<key>domeSpeakerOutputVisibility</key>
	<true/>
	<key>domeSpeakerGainVisibility</key>
	<true/>
	<key>domeSpeakerIndexVisibility</key>
	<true/>
	<key>domeSpeakerObjectVisibility</key>
	<true/>
	<key>domeSpeakerRingVisibility</key>
	<true/>
	<key>domeSpeakerTripletVisibility</key>
	<true/>
	<key>domeSoundPathEventNameVisibility</key>
	<true/>
	<key>domeViewGridVisibility</key>
	<true/>
	<key>domeSoundPathWaveformWidth</key>
	<integer>10</integer>
	<key>domeSoundPathSpanWidth</key>
	<integer>50</integer>
	<key>domeSoundPathCentroidVisibility</key>
	<true/>
	<key>domeSoundPathIDLevelVisibility</key>
	<true/>
	<key>domeSoundPathIDIndexVisibility</key>
	<true/>
	<key>domeSoundPathEventMuteVisibility</key>
	<false/>
	<key>domeSnapToSpeaker</key>
	<false/>
	<key>domeSnapToGrid</key>
	<false/>
	<key>domePathRulerVisibility</key>
	<true/>
	<key>motionWaveformVisibility</key>
	<true/>
	<key>motionRulerVisibility</key>
	<true/>
	<key>motionSnapToAnchorPoint</key>
	<true/>
	<key>motionAnchorPointsVisibility</key>
	<true/>
	<key>eventCatchPlayhead</key>
	<true/>
	<key>eventWaveformVisibility</key>
	<true/>
	<key>eventThumbnailVisibility</key>
	<true/>
	<key>eventSoundPathVisibility</key>
	<true/>
	<key>audioBackend</key>
	<string>portaudio</string>
	<key>audioDevices</key>
	<dict>
		<key>input</key>
		<string></string>
		<key>output</key>
		<string></string>
	</dict>
	<key>audioChannels</key>
	<dict>
		<key>input</key>
		<integer>0</integer>
		<key>output</key>
		<integer>0</integer>
	</dict>
	<key>audioBufferSize</key>
	<integer>512</integer>
	<key>oscReceive</key>
	<true/>
	<key>oscReceiverPort</key>
	<integer>50000</integer>
	<key>midiReceive</key>
	<true/>
	<key>midiSource</key>
	<string></string>
	<key>midiVirtual</key>
	<true/>
	<key>jackAutoConnect</key>
	<true/>
	<key>renderWaveforms</key>
	<true/>
	<key>serverRefreshRate</key>
	<integer>30</integer>
	<key>testSoundGain</key>
	<integer>0</integer>
	<key>testSoundNoise</key>
	<integer>0</integer>
	<key>bounceOffline</key>
	<false/>
	<key>bounceUpdateUI</key>
	<true/>
	<key>bounceWaitForSync</key>
	<false/>
	<key>hrtfOutputLeft</key>
	<integer>1</integer>
	<key>hrtfOutputRight</key>
	<integer>2</integer>
	<key>autoVersioning</key>
	<false/>
	<key>recordOverwriteEvents</key>
	<true/>
	<key>recordSmoothEvents</key>
	<false/>
</dict>
</plist>
